<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	<!-- Mobile Specific Meta -->
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<!-- Favicon-->
	<link rel="shortcut icon" href="img/fav.png">
	<!-- Author Meta -->
	<meta name="author" content="codepixer">
	<!-- Meta Description -->
	<meta name="description" content="">
	<!-- Meta Keyword -->
	<meta name="keywords" content="">
	<!-- meta character set -->
	<meta charset="UTF-8">
	<!-- Site Title -->
	<title>Breast Cancer Detection</title>

	<link href="https://fonts.googleapis.com/css?family=Poppins:400,600|Roboto:400,400i,500" rel="stylesheet">
	<!--
			CSS
			============================================= -->
	<link rel="stylesheet" href="../static/css/linearicons.css">
	<link rel="stylesheet" href="../static/css/font-awesome.min.css">
	<link rel="stylesheet" href="../static/css/bootstrap.css">
	<link rel="stylesheet" href="../static/css/magnific-popup.css">
	<link rel="stylesheet" href="../static/css/nice-select.css">
	<link rel="stylesheet" href="../static/css/hexagons.min.css">
	<link rel="stylesheet" href="../static/css/owl.carousel.css">
	<link rel="stylesheet" href="../static/css/main.css">
</head>

<body>
	<!-- start header Area -->
	<header id="header">
		<div class="container main-menu">
			<div class="row align-items-center justify-content-between d-flex">
				<div id="logo">
					<a href="index.html"><img src="../static/img/logo11.png" alt="" title="" /></a>
				</div>
				<nav id="nav-menu-container">
					<ul class="nav-menu">
						<li class="menu-active"><a href="index.html">Home</a></li>
						<li><a href="about.html">About</a></li>
						<li><a href="contact.html">Contact</a></li>
					</ul>
				</nav>
			</div>
		</div>
	</header>
	<!-- end header Area -->

	<!-- start banner Area -->
	<section class="home-banner-area">
		<div class="container">
			<div class="row fullscreen d-flex align-items-center justify-content-between">
				<div class="home-banner-content col-lg-6 col-md-6">
					<h1>
						AI Medical <br> Diagnosis
					</h1>
					<p>AI based platform for diagnosing critical diseases.</p>
					<div class="download-button d-flex flex-row justify-content-start">
						<div class="buttons dark flex-row d-flex" style="font-family: 'Poppins', sans-serif;">
							<i class="fa fa-laptop" aria-hidden="true"></i>
							<div class="desc">
								<a href="#">
									<p>
										<span>Also Available</span> <br>
										on PC
									</p>
								</a>
							</div>
						</div>
					</div>
				</div>
				<div class="banner-img col-lg-6 col-md-6">
					
				</div>
			</div>
		</div>
	</section>
	<!-- End banner Area -->

	

	<!-- Start feature Area -->
	<section class="feature-area section-gap-bottom mt-40">
		<div class="container">
			<div class="row d-flex justify-content-center">
				<div class="col-lg-6">
					<div class="section-title text-center">
						<h2>Breast Cancer Detection</h2>
					</div>
				</div>
			</div>
			<div class="text-center">
				<h4>Choose an image to analyze</h4>
				<div class="input-photo" style="font-family: 'Poppins', sans-serif;">
                    <div class="inside-label-input">
                    	<div class="text-center plus-button">
                    		<i class="fa fa-plus"></i>
                    	</div>
                    	<div class="text-center">
                    		Click here to choose an image
                    	</div>
                    </div>
                    <input type="file" name="pic" id="pic" required>
                </div>
                <div class="uploaded text-center">
                	<img src="" width="350" height="250" style="margin: 20px auto 20px auto;">
                </div>
                <div class="btn btn-primary analyzeButton">
                	<i class="fa fa-send"></i> Analyze
                </div>
                      <div class="response bold fs-18 mt-15" style="font-family:'Poppins',sans-serif;">
                    
                </div>
    
			</div>
		</div>
	</section>
	<!-- End feature Area -->

	<!-- Start Footer Area -->
	<footer class="footer-area">
		<div class="container">
			<div class="row">

				<div class="col-lg-6 col-md-6 single-footer-widget">
					<h4>Available Medical Services</h4>
					<ul>
						<li><a href="oct.html" style="font-family: 'Poppins', sans-serif;">Retinal Diseases</a></li>
						<li><a href="breast.html" style="font-family: 'Poppins', sans-serif;">Breast Cancer Detection</a></li>
						<li><a href="pneumonia.html" style="font-family: 'Poppins', sans-serif;">Pneumonia Detection</a></li>
					</ul>
				</div>
				
				<div class="col-lg-6 col-md-6 single-footer-widget">
					<h4>Newsletter</h4>
					<div class="form-wrap" id="mc_embed_signup">
						<form target="_blank" action="https://spondonit.us12.list-manage.com/subscribe/post?u=1462626880ade1ac87bd9c93a&amp;id=92a4423d01"
						 method="get" class="form-inline">
							<input class="form-control" name="EMAIL" placeholder="Your Email Address" onfocus="this.placeholder = ''" onblur="this.placeholder = 'Your Email Address '"
							 required="" type="email">
							<button class="click-btn btn btn-default"><span class="lnr lnr-arrow-right"></span></button>
							<div style="position: absolute; left: -5000px;">
								<input name="b_36c4fd991d266f23781ded980_aefe40901a" tabindex="-1" value="" type="text">
							</div>

							<div class="info"></div>
						</form>
					</div>
				</div>

				<div class="col-lg-6 col-md-6 single-footer-widget">
					<h4 class="mt-30">AI Medical Diagnosis</h4>
				</div>

			</div>

		</div>
	</footer>
	<!-- End Footer Area -->

	<script src="../static/js/vendor/jquery-2.2.4.min.js"></script>
	<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
	 crossorigin="anonymous"></script>
	<script src="../static/js/tilt.jquery.min.js"></script>
	<script src="../static/js/vendor/bootstrap.min.js"></script>
	<script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBhOdIF3Y9382fqJYt5I_sswSrEw5eihAA"></script>
	<script src="../static/js/easing.min.js"></script>
	<script src="../static/js/hoverIntent.js"></script>
	<script src="../static/js/superfish.min.js"></script>
	<script src="../static/js/jquery.ajaxchimp.min.js"></script>
	<script src="../static/js/jquery.magnific-popup.min.js"></script>
	<script src="../static/js/owl.carousel.min.js"></script>
	<script src="../static/js/owl-carousel-thumb.min.js"></script>
	<script src="../static/js/hexagons.min.js"></script>
	<script src="../static/js/jquery.nice-select.min.js"></script>
	<script src="../static/js/waypoints.min.js"></script>
	<script src="../static/js/mail-script.js"></script>
	<script src="../static/js/main.js"></script>
	<script type="text/javascript">


		function readURL(input) {
		  if (input.files && input.files[0]) {
		    var reader = new FileReader();
		    
		    reader.onload = function(e) {
		      $('.uploaded img').attr('src', e.target.result);
		    }
		    reader.readAsDataURL(input.files[0]);
		  }
		}


		$(document).ready(function(){
			$(".inside-label-input")

			$("input#pic").on('click',function(e){
                e.stopPropagation();
            });

            $(".input-photo").click(function(event){
                event.stopPropagation();
                $("input#pic").click();
            });

            $("input#pic").on('change',function(e){
                var files = $('input#pic')[0].files;
                $(".input-photo .inside-label-input").html("uploaded!");
                $(".input-photo").hide();
                readURL(this);
                $(".uploaded").css({"display":"block"});
            });


            $(".analyzeButton").click(function(ev){
            	ev.preventDefault();
            	var form = new FormData();
            	var fileSelect = document.getElementById('pic');
            	var files = fileSelect.files;
                var file = files[0];
                if (file.type.match('image.*')) {
                    form.append('file',file,file.name);
                }
                form.append('file',file,file.name);
                $.ajax({
                    type:"POST",
                    url:"/predictBreast",
                    data:form,
                    contentType:false,
                    cache:false,
                    processData:false,
                    dataType:"json",
                    success:function(data)
                    {
                        $(".response").html(data);
                        
                    },error:function(data)
                    {
                        $(".response").html(data.responseText);
                    }
                });
            });

		});
	</script>
</body>

</html>